*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  background: #fceed5;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

header {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

#headerimg {
  position: absolute;
  top: -2rem;
  left: -0.4rem;
  z-index: -1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  max-width: 80%;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

nav #hleft {
  display: flex;
  gap: 4rem;
  align-items: center;
}

nav #hleft a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #003459;
}
#hlinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav #hright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#hright div {
  display: flex;
  background: white;
  border-radius: 10rem;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav #hright input {
  padding: 1rem;
  border: none;
  align-items: center;
  width: 80%;
  outline: none;
}
#inputimg {
  padding-left: 1rem;
}

nav #hright button {
  padding: 1rem 2rem;
  border-radius: 5.7rem;
  outline: none;
  border: 0.1rem solid gray;
  background: #003459;
  color: white;
  cursor: pointer;
}

#headercontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

#headercontent img {
  width: 60rem;
}

#heroleft {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

#heroleft h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #002a48;
}

#heroleft h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #002a48;
}

#rectimg {
  position: absolute;
}

#heroleft p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #242b33;
}
.rect8 {
  position: absolute;
  left: -12rem;
  bottom: -1rem;
  z-index: -1;
}

.Rect6 {
  position: absolute;
  z-index: -1;
  width: 2rem;
}

#heroleft #btn {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#heroleft .Rectangle3 {
  width: 6rem;
  position: absolute;
  top: -1rem;
  left: -1.5rem;
  z-index: -1;
}

#heroright {
  max-width: 60%;
  position: relative;
  z-index: 2;
  top: 10rem;
  /* overflow: hidden; */
}

#heroright .rect {
  position: absolute;
  left: -4rem;
  bottom: -8.5rem;
  z-index: -1;
}

#heroright .rect1 {
  position: absolute;
  left: 0;
  bottom: -4rem;
  z-index: -1;
}
#petcontainer {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  /* padding: 1rem 0 1rem 0; */
}

#whatsnew {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 3rem;
}

#whatsnew h3 {
  font-size: 1.5rem;
}
#whatsnew p {
  font-size: 1.2rem;
  font-weight: 500;
}

.whatsnewlink {
  border: 0.2rem solid #00171f;
  padding: 1rem;
  border-radius: 10rem;
  background: white;
}
.whatsnewlink a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #003459;
}
#whatsnew .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

#petslide {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.petcard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.5rem;
  border: 0.1rem solid white;
  border-radius: 2rem;
  background: #fdfdfd;
  padding: 1rem;
  box-shadow: 0px 4px 28px -2px #00000014;
}
.petcard h4 {
  color: #00171f;
  font-size: 1.2rem;
  font-weight: 600;
}
.petcard h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00171f;
}

.petcard p {
  color: #667479;
  font-weight: 700;
}
.petcard img {
  width: 100%;
  /* border: 0.5rem solid white; */
  /* border-radius: 2rem; */
}
.petcard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#container2 {
  display: flex;
  border-radius: 10px;
  background-color: #004c82;
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
#bannerleft {
  width: 60%;
  position: relative;
  z-index: 2;
}
#bannerright {
  width: 40%;
  position: relative;
  z-index: 2;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.rects {
  position: absolute;
  z-index: -1;
  top: -12rem;
  left: -12rem;
}
.rects1 {
  position: absolute;
  left: -0.1rem;
  bottom: -0.1rem;
  z-index: -1;
}
.H1 {
  color: #003459;
  font-size: xx-large;
}
.H2 {
  color: #003459;
  font-size: large;
  align-content: center;
}

#sellers {
  margin-top: 30px;
}

.proud {
  display: flex;
  align-items: center;
  gap: 10px;
}

#sellersect {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.h6 {
  font-size: large;
  color: #003459;
}

.sheba {
  justify-content: space-between;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.sheba img {
  width: 100%;
}
.view {
  border: 1px solid rgb(0, 12, 78);
  padding: 12px 28px;
  border-radius: 20px;
}
.view a {
  text-decoration: none;
  color: rgb(2, 7, 69);
}

#container3 {
  display: flex;
  border-radius: 10px;
  background-color: #ffb775;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#container-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  position: relative;
  z-index: 2;
}
.leftrect {
  position: absolute;
  left: -9.5rem;
  bottom: -1px;
}
.cont-img {
  position: absolute;
  z-index: -1;
  bottom: -12.1rem;
  left: -10rem;
  /* height: 100%; */
}

#container-right {
  width: 60%;
  position: relative;
  z-index: 2;
  gap: 10px;
  display: flex;
}
.Before-footer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.Before-footer img {
  width: 100%;
}
.h7 {
  font-weight: bold;
}

.pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  gap: 1.5rem;
  border: 0.1rem solid white;
  border-radius: 2rem;
  background: #fdfdfd;
  padding: 1rem;
  box-shadow: 0px 4px 28px -2px #00000014;
}

.butt {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.bttn {
  font-size: smaller;
  color: #fdfdfd;
  width: 100px;
  background-color: #00a7e7;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border: none;
}
#bottomcontainer {
  width: 100%;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  padding-top: 5rem;
  margin-top: 2rem;
  border-radius: 2rem;
  /* height: 80vh; */
}

#register {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background: #003459;
  padding: 3.2rem;
  gap: 2rem;
  border-radius: 1.6rem;
}
#register h1 {
  width: 40%;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
#register #sign {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}
#register input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid gray;
  outline: none;
}
#register button {
  width: 20rem;
  background: #003459;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.4rem 2.8rem 1rem 2.8rem;
  cursor: pointer;
}
#media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  height: 25vh;
  border-bottom: 1px solid;
}
#medialinks {
  display: flex;
  gap: 6rem;
}
#medialinks a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #003459;
}
.mediaimg {
  display: flex;
  align-items: center;
  gap: 4rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}
#footerlink {
  display: flex;
  gap: 3rem;
}
footer p {
  font-weight: 500;
  font-size: 1.4rem;
}
#footerlink a {
  text-decoration: none;
  color: #667479;
  font-weight: 500;
  font-size: 1.4rem;
}

@media (max-width: 430px) {
  body {
    width: 100%;
  }
  nav #hlinks,
  #hright input,
  #hright button,
  #hright .dropdown {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #container {
    width: 100%;
    height: 100vh;
  }
  #headercontent {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
  }
  #heroright {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }
  #heroright img {
    /* width: 100%; */
  }

  #heroleft {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  #heroleft h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #002a48;
    padding-left: 1rem;
  }

  #heroleft h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #002a48;
    padding-left: 1rem;
  }

  #heroleft p {
    text-align: start;
    padding-left: 1rem;
  }
  .Rectangle3 {
    display: none;
  }
  #btn {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  #btn img {
    width: 100%;
  }
  .dog {
    width: 50%;
    margin-left: -5rem;
  }

  #petcontainer {
    width: 100%;
  }
  #petslide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #product-container {
    display: none;
  }
  #sellers {
    display: none;
  }

  #container2 {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 5rem;
  }
  .bannerrect {
    display: block;
  }

  #bannerleft {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .bannerrect {
    position: absolute;
    left: -15rem;
    /* left: -0.1rem; */
    /* bottom: -0.1rem; */
    z-index: -1;
    width: 100%;
  }
  #bannerright {
    /* overflow: hidden; */
    position: relative;
    /* padding: 1rem; */
    width: 100%;
    /* max-width: 0; */
    flex-direction: column;
    padding-right: 0;
    /* gap: 45rem; */
    /* z-index: 1; */
    /* background:#FCEED5; */
  }
  .banner-text-container {
    position: relative;
    width: 100%;
  }

  .banner-text {
    position: absolute;
    top: 30px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .query {
    display: block;
    margin-top: -35em;
    width: 100%;
  }
  #bannerright p {
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding: 0 2rem;
  }
  .rects1 {
    position: absolute;
    left: -10rem;
    bottom: -18rem;
    z-index: -1;
  }

  #container3 {
    display: none;
  }
  #headercontent {
    width: 100%;
  }

  #bannerright {
    /* width: 100%; */
  }
  .before-fotter {
    width: 100%;
  }
  .Before-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  #bottomcontainer {
    width: 100%;
  }
  .whatsnewlink {
    display: none;
  }
  #whatsnew .top {
    width: 100%;
  }

  #bottomcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #register {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #register h1 {
    width: 100%;
    font-size: 1.5rem;
  }
  #register #sign {
    width: 100%;
  }
  #sign {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #sign button {
    width: 100%;
  }
  #media img {
    width: 100%;
  }
  #media {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #medialinks {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  #medialinks a {
    font-size: 1rem;
  }
  .mediaimg {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .mediaimg img {
    width: 0.5rem;
  }
  footer {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  #footerlink a {
    font-size: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
}
